.App {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.main_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 660px;
}

ul, ul li {
	list-style: none;
  padding: 0;
}